<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/daftarsekolah.css') }}">
    <title>EduMap Bandung</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sample Image" class="logo">
        <ul class="link">
            <li><a href="/">Beranda</a></li>
            <li><a href="{{ url_for('daftarsekolah.daftarsekolah') }}">Data Sekolah</a></li>
            <li><a href="webgis">WebGis</a></li>
            <li><a href="tentangkami">Tentang Kami</a></li>
        </ul>
    </header>

    <main>
        <h2>DATA SEKOLAH</h2>
        <img src="{{ url_for('static', filename='garis.png') }}" class="garis">
        
        <div class="search-container">
            <form method="GET" action="{{ url_for('daftarsekolah.daftarsekolah', page=pagination_info.current_page) }}">
                <input type="text" name="search" value="{{ search_query }}" placeholder="Nama Sekolah">
                
                <!-- <select name="status">
                    <option value="">Semua Status</option>
                    <option value="NEGERI" {% if status_filter == 'NEGERI' %}selected{% endif %}>NEGERI</option>
                    <option value="SWASTA" {% if status_filter == 'SWASTA' %}selected{% endif %}>SWASTA</option>
                </select>
        
                <select name="akreditasi">
                    <option value="">Semua Akreditasi</option>
                    <option value="A" {% if akreditasi_filter == 'A' %}selected{% endif %}>A</option>
                    <option value="B" {% if akreditasi_filter == 'B' %}selected{% endif %}>B</option>
                    <option value="C" {% if akreditasi_filter == 'C' %}selected{% endif %}>C</option>
                </select> -->
                
                <button type="submit">CARI</button>
            </form>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>ID Sekolah</th>
                    <th>Nama Sekolah</th>
                    <th>Status</th>
                    <th>Akreditasi</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
            </thead>
            <tbody id="schoolTableBody">
                {% for school in data %}
                <tr>
                    <td>{{ school['id_sekolah'] }}</td>
                    <td>{{ school['sekolah'] }}</td>
                    <td>{{ school['status'] }}</td>
                    <td>{{ school['akreditasi'] }}</td>
                    <td>{{ school['lattitude'] }}</td>
                    <td>{{ school['longitude'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        

        <div class="pagination">
            {% if pagination_info.total_pages > 1 %}
                {% if pagination_info.current_page > 1 %}
                    <a href="{{ url_for('daftarsekolah.daftarsekolah', page=pagination_info.current_page - 1, search=search_query, status=status_filter, akreditasi=akreditasi_filter) }}">
                        <button>Sebelumnya</button>
                    </a>
                {% endif %}
                <span>Page {{ pagination_info.current_page }} of {{ pagination_info.total_pages }}</span>
                {% if pagination_info.current_page < pagination_info.total_pages %}
                    <a href="{{ url_for('daftarsekolah.daftarsekolah', page=pagination_info.current_page + 1, search=search_query, status=status_filter, akreditasi=akreditasi_filter) }}">
                        <button>Selanjutnya</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>        
        
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h2><i class="icon"></i> Tentang Kami</h2>
                <div class="team">
                    <div class="left-side">
                        <div class="member">
                            <h3>Achmmad Rafly Khatami Zain</h3>
                            <p>S1 Informatika</p>
                            <p>raflyzainn1@gmail.com</p>
                        </div>
                        <div class="member">
                            <h3>Munawir Rifa'i</h3>
                            <p>S1 Teknik Telekomunikasi</p>
                            <p>munawirr90@gmail.com</p>
                        </div>
                        <div class="member">
                            <h3>Ni Made Sita Manika Putri</h3>
                            <p>S1 Teknik Telekomunikasi</p>
                            <p>sitamanikaputri@gmail.com</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="member">
                            <h3>Bang Hakim</h3>
                            <p>S1 Teknik Telekomunikasi</p>
                        </div>
                        <div class="member">
                            <h3>Bang Abyan</h3>
                            <p>S1 Teknik Telekomunikasi</p>
                        </div>
                        <div class="member">
                            <h3>Bang Malvin</h3>
                            <p>S1 Teknik Telekomunikasi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <img src="{{ url_for('static', filename='mbc-logo.png') }}" alt="MBC Lab Logo" class="mbc-logo">
                <p>MBC Laboratory</p>
                <p>Telkom University</p>
            </div>
        </div>
    </footer>  
</body>
</html>
