<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/tentangkami.css') }}">
    <title>EduMap Bandung</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Sample Image" class="logo">
        </a>
        
        <ul class="link">
            <li><a href="/">Beranda</a></li>
            <li><a href="daftarsekolah">Data Sekolah</a></li>
            <li><a href="webgis">WebGis</a></li>
            <li><a href="tentangkami">Tentang Kami</a></li>
        </ul>
    </header>

    <main>
        <h1>TENTANG KAMI</h1>
        <img src="{{ url_for('static', filename='garis-tentangkami.png') }}" >
    
        <div class="team-container">
            <div class="team-member">
                <img src="{{ url_for('static', filename='profil1.jpg') }}" alt="Member Image">
                <p>Achmmad Rafly Khatami Zain <br> S1 Informatika <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='profil1.jpg') }}" alt="Member Image">
                <p>Achmmad Rafly Khatami Zain <br> S1 Informatika <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='/Images/sita.jpg') }}" alt="Member Image">
                <p>Ni Made Sita Manika Putri <br> S1 Teknik Telekomunikasi <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='profil1.jpg') }}" alt="Member Image">
                <p>Achmmad Rafly Khatami Zain <br> S1 Informatika <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='/Images/munawir.jpg') }}" alt="Member Image">
                <p>Munawir Rifa'i <br> S1 Teknik Telekomunikasi <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='profil1.jpg') }}" alt="Member Image">
                <p>Achmmad Rafly Khatami Zain <br> S1 Informatika <br> <a href="https://www.linkedin.com/in/raflyzainn/">https://www.linkedin.com/in/raflyzainn/</a> </p> 
            </div>
        </div>
    </main>
    

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <a href="https://www.instagram.com/mbclab/?hl=en">
                    <img src="{{ url_for('static', filename='mbc-logo.png') }}" alt="MBC Logo" class="logo-footer">
                </a>
            </div>
            <div class="footer-center"></div>
            <div class="footer-right">
                <a href="https://www.instagram.com/mbclab/?hl=en">MBC Laboratory</a>
                <p>Jl. Telekomunikasi No.1, Terusan Buah Batu, Bandung</p>
                <p>TULT 13.04</p>
            </div>
        </div>
    </footer>    
</body>
</html>
