<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/tentangkami.css') }}">
    <title>EduMap Bandung</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sample Image" class="logo">
        
        <ul class="link">
            <li><a href="/">Beranda</a></li>
            <li><a href="daftarsekolah">Data Sekolah</a></li>
            <li><a href="webgis">WebGis</a></li>
            <li><a href="tentangkami">Tentang Kami</a></li>
        </ul>
    </header>

    <main>
        <h1>TENTANG KAMI</h1>
        <img src="{{ url_for('static', filename='garis-tentangkami.png') }}" >

    </main>

    <footer class="footer">
        <div class="footer-left">
            <img src="{{ url_for('static', filename='mbc-logo.png') }}" class="logo-footer">
        </div>
        <img src="{{ url_for('static', filename='garis-footer.png') }}" class="garis-footer">
        <div class="footer-right">
            <a href="">MBC Laboratory</a>
            <p>Jl. Telekomunikasi No.1, Terusan Buah Batu, Bandung</p>
            <p>TULT 13.04</p>
        </div>
    </footer>   
</body>
</html>
