<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/utama.css') }}">
    <title>EduMap Bandung</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Sample Image" class="logo">
        </a>
        
        <ul class="link">
            <li><a href="/">Beranda</a></li>
            <li><a href="daftarsekolah">Data Sekolah</a></li>
            <li><a href="webgis">WebGis</a></li>
            <li><a href="tentangkami">Tentang Kami</a></li>
        </ul>
    </header>

    <div class="card1">
        <img src="{{ url_for('static', filename='sma_sekolah.png') }}" alt="Background Card 1" class="bg1">
        <h1 class="txtimg1">Temukan informasi penting terkait akreditasi SMA Negeri dan Swasta di EduMap Bandung!</h1>
        <h3 class="txtimg2">Temukan data terkini tentang status akreditasi setiap sekolah, untuk memastikan <br> masa depan cerah bagi anak Bangsa dengan pilihan sekolah yang tepat!</h3>
    </div>

    <div class="card2">
        <h1 class="txtimg3">LAYANAN</h1>
        <img src="{{ url_for('static', filename='garis.png') }}" class="garis1">
        <div class="pemetaan-sma">
            <img src="{{ url_for('static', filename='bgpoint.png') }}" class="logo1">
            <img src="{{ url_for('static', filename='sma.png') }}" class="logo2">
        </div>
        <div class="akreditasi-sma">
            <img src="{{ url_for('static', filename='bgpoint.png') }}" class="logo3">
            <img src="{{ url_for('static', filename='akreditasi.png') }}" class="logo4">
        </div>
    </div>

    <a href="webgis">
        <h2 class="text-card2">Pemetaan SMA</h2>
    </a>
    <a href="daftarsekolah">
        <h2 class="text-card3">Akreditasi Sekolah</h2>
    </a>

    <div class="card3">
        <h1>AKREDITASI SEKOLAH</h1>
        <img src="{{ url_for('static', filename='garis-webgis.png') }}" class="garis2">
    </div>
    
    <div class="counters">
        <div class="counter">
            <h2 id="counter1">0</h2>
            <p>A</p>
        </div>
        <div class="counter">
            <h2 id="counter2">0</h2>
            <p>B</p>
        </div>
        <div class="counter">
            <h2 id="counter3">0</h2>
            <p>C</p>
        </div>
        <div class="counter">
            <h2 id="counter4">0</h2>
            <p>Jumlah Sekolah</p>
        </div>
    </div>
    
    <div class="card4">
        <h1 class="text-card4">BERITA</h1>
        <img src="{{ url_for('static', filename='garis2.png') }}" class="garis3">
        <div class="berita-container">
            <div class="berita1">
                <img src="{{ url_for('static', filename='berita1.png') }}" alt="Berita 1">
                <p>Polisi Ingatkan Pelajar di Bandung Ancaman Nyata Kejahatan Siber</p>
                <a href="https://www.detik.com/jabar/hukum-dan-kriminal/d-6634806/polisi-ingatkan-pelajar-di-bandung-ancaman-nyata-kejahatan-siber" class="baca-selengkapnya">Baca selengkapnya</a>
            </div>
            <div class="berita2-container">
                <div class="berita2">
                    <img src="{{ url_for('static', filename='berita2.png') }}" alt="Berita 2">
                    <a href="https://www.detik.com/jabar/berita/d-6084697/ppdb-jabar-2022-referensi-10-sma-terbaik-di-bandung">
                        <p>PPDB JABAR 2022 : Referensi 10 SMA Terbaik di Bandung</p>
                    </a>
                </div>
                <div class="berita3">
                    <img src="{{ url_for('static', filename='berita3.png') }}" alt="Berita 3">
                    <a href="https://priangan.tribunnews.com/2024/05/17/daftar-10-sma-negeri-terbaik-di-kota-bandung-akreditasi-a-untuk-rekomendasi-ppdb-2024">
                        <p>Daftar 10 SMA Negeri Terbaik Bandung <br>Akreditasi A untuk Rekomendasi PPDB 2024</p>
                    </a>
                </div>
            </div>
        </div>
        <a href="https://www.detik.com/jabar/">
            <button class="tombol-loadmore">Load More</button>
        </a>
    </div>

    <div class="card5">
        <img src="{{ url_for('static', filename='anak_sma.png') }}" alt="Berita 2" class="anak-sma">
        <h2>Q & A</h2>

        <ul id="accordion">
            <li>
                <label for="first">PERTANYAAN 1 <span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="first" checked>
                <div class="isi-card5">
                    JAWABAN
                </div>
            </li>
            <li>
                <label for="second">PERTANYAAN 2 <span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="second">
                <div class="isi-card5">
                    JAWABAN
                </div>
            </li>
            <li>
                <label for="third">PERTANYAAN 3 <span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="third">
                <div class="isi-card5">
                    JAWABAN
                </div>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <a href="https://www.instagram.com/mbclab/?hl=en">
                    <img src="{{ url_for('static', filename='mbc-logo.png') }}" alt="MBC Logo" class="logo-footer">
                </a>
            </div>
            <div class="footer-center"></div>
            <div class="footer-right">
                <a href="https://www.instagram.com/mbclab/?hl=en">MBC Laboratory</a>
                <p>Jl. Telekomunikasi No.1, Terusan Buah Batu, Bandung</p>
                <p>TULT 13.04</p>
            </div>
        </div>
    </footer> 

    <script>
        function animateCounter(id, start, end, duration) {
            const element = document.getElementById(id);
            const range = end - start;
            let current = start;
            const increment = end > start ? 1 : -1;
            const stepTime = Math.abs(Math.floor(duration / range));
            const timer = setInterval(function() {
                current += increment;
                element.textContent = current;
                if (current == end) {
                    clearInterval(timer);
                }
            }, stepTime);
        }

        window.onload = function() {
            animateCounter("counter1", 0, 67, 2000);  
            animateCounter("counter2", 0, 40, 2500);  
            animateCounter("counter3", 0,3, 3000);  
            animateCounter("counter4", 0, 110, 3500);  
        };
    </script>
</body>
</html>
