body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #00186D;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Prevents X-axis scrolling */
}

main {
    flex-grow: 1; 
    padding-top: 100px; 
}

header {
    background-color: #ffff;
    padding: 0;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;  
    box-sizing: border-box; 
    margin: 0; 
    z-index: 1000; 
    height: 80px; /* Reduced from 100px to 70px */
}

.link {
    margin-left: 40px; 
    list-style: none;
    display: flex;
    gap: 60px; /* Reduced the gap between links */
    padding-right: 40px; 
    font-weight: bold;
    font-size: 24px; /* Reduced font size from 30px to 24px */
}

.link li {
    display: inline;
}

.link a {
    text-decoration: none; 
    color: #004DD1; 
}

.logo {
    margin-left: 25px;
    width: 325px;
}

.logo {
    margin-left: 25px;
    width: 325px;
}

.footer {
    background-color: #43569C;
    padding: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left img {
    width: 100%;
    max-width: 350px;
}

.footer-center {
    height: 100px;
    width: 1px;
    background-color: white;
    margin: 0 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-right a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-right p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-center {
        height: 1px;
        width: 80%;
        margin: 20px 0;
    }

    .footer-right {
        align-items: center;
    }
}

.icon {
    background: url('home-icon.png') no-repeat center center;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}

main h1 {
    text-align: center;
    color: #ffff;
    font-size: 60px;
    margin-top: 90px;
    margin-bottom: 10px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}